

/* override body padding-bottom to have more space for profiler height */
body.body-contain-rdprofiler {
    padding-bottom: 32px !important;
}


/* CSS variables */
.rdprofiler {
    --background-color-active: #ddd;
    --background-color-based: #eee;
    --border-color: #bbb;
    --rdprofiler-box-height: 30px;
    --text-color: #333;
    --z-index: 10;
}


/* Reset CSS based on .rdprofiler */
.rdprofiler,
.rdprofiler * {
    background-color: transparent;
    background-image: none;
    border: none;
    border-image: none;
    border-radius: 0;
    box-sizing: content-box;
    color: var(--text-color);
    font-family: inherit;
    font-size: inherit;
    letter-spacing: initial;
    margin: 0;
    padding: 0;
    opacity: 1;
    outline: none;
    text-align: left;
    vertical-align: baseline;
    visibility: visible;
    word-break: break-all;
    word-wrap: break-word;
}
.rdprofiler a,
.rdprofiler a:link,
.rdprofiler a:active,
.rdprofiler a:focus,
.rdprofiler a:hover, 
.rdprofiler a:target,
.rdprofiler a:visited {
    color: var(--text-color);
    text-decoration: none;
}
.rdprofiler b,
.rdprofiler strong {
    font-weight: bold;
}
.rdprofiler ins,
.rdprofiler u {
    text-decoration: underline;
}
.rdprofiler li:first-child,
.rdprofiler li:last-child {
    margin: 0;
    padding: 0;
}
.rdprofiler ol,
.rdprofiler ul {
    list-style: none;
}
.rdprofiler table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
/* END Reset CSS based on .rdprofiler */


.rdprofiler {
    background-color: var(--background-color-based);
    border-top: 1px solid var(--border-color);
    box-shadow: 0 -1px rgba(255,255,255,0.2);
    bottom: 0;
    clear: both;
    cursor: default;
    display: block;
    font-family: Verdana, Tahoma, sans-serif, system-ui;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: var(--rdprofiler-box-height);
    left: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    position: fixed;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    transform: none;
    transition: none;
    white-space: normal;
    width: 100%;
    word-spacing: normal;
    z-index: var(--z-index);
}
.rdprofiler a.rdprofiler-highlight {
    color: #896139;
    text-decoration: none;
}


.rdprofiler-container {
    display: block;
    height: 100%;
    position: relative;
}


.rdprofiler-log-logtype.rdprofiler-logtype-debug {
    background-color: #CDE5CC;
}
.rdprofiler-log-logtype.rdprofiler-logtype-info {
    background-color: #D7E3EB;
}
.rdprofiler-log-logtype.rdprofiler-logtype-notice {
    background-color: #EAEBC5;
}
.rdprofiler-log-logtype.rdprofiler-logtype-warning {
    background-color: #EEDAA4;
}
.rdprofiler-log-logtype.rdprofiler-logtype-error {
    background-color: #E7A763;
}
.rdprofiler-log-logtype.rdprofiler-logtype-critical,
.rdprofiler-log-logtype.rdprofiler-logtype-alert,
.rdprofiler-log-logtype.rdprofiler-logtype-emergency {
    color: #eee;
}
.rdprofiler-log-logtype.rdprofiler-logtype-critical {
    background-color: #D93727;
}
.rdprofiler-log-logtype.rdprofiler-logtype-alert {
    background-color: #A80000;
}
.rdprofiler-log-logtype.rdprofiler-logtype-emergency {
    background-color: #440101;
}


.rdprofiler-log-logtypes td,
.rdprofiler-log-logtypes td.rdprofiler-log-logtype,
.rdprofiler-log-logtypes th {
    font-weight: inherit;
    line-height: inherit;
    padding: 3px 5px;
    width: 12.5%;
}


ul.rdprofiler-log-sections,
.rdprofiler-log-sections {
    display: table;
    line-height: var(--rdprofiler-box-height);
    vertical-align: middle;
}
.rdprofiler-log-sections > li,
.rdprofiler-log-sections > li:first-child, 
.rdprofiler-log-sections > li:last-child {
    border-right: 1px solid var(--border-color);
    display: table-cell;
    padding: 0 10px;
}
.rdprofiler-log-sections li.rdprofiler-see-details > a {
    cursor: pointer;
    display: block;
}
.rdprofiler-log-sections ul {
    background-color: var(--background-color-active);
    border-bottom: 1px solid var(--border-color);
    bottom: var(--rdprofiler-box-height);
    display: none;
    height: 90vh;
    left: 10px;
    line-height: 16px;
    overflow: auto;
    position: absolute;
    right: 10px;
    z-index: var(--z-index);
}
.rdprofiler-log-sections li.rdprofiler-see-details.rdprofiler-log-section-active {
    background-color: var(--background-color-active);
}
.rdprofiler-log-sections li.rdprofiler-see-details.rdprofiler-log-section-active ul {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    display: block;
}
.rdprofiler-log-sections ul li {
    border-bottom: 1px dotted var(--border-color);
    display: table;
    table-layout: fixed;
    width: 100%;
}
.rdprofiler-log-sections ul li:hover {
    background-color: rgba(255,255,255,0.2);
}
.rdprofiler-log-sections ul li.rdprofiler-new-xhr-session {
    border-top: 2px dotted var(--border-color);
    font-weight: bold;
}
.rdprofiler-log-sections ul li.rdprofiler-log-summary-row {
    font-weight: bold;
}
.rdprofiler-log-sections ul li > div,
.rdprofiler-log-sections ul li > pre {
    display: table-cell;
    padding: 5px 10px;
}

.rdprofiler-log-sections ul li .rdprofiler-log-data {
    line-height: inherit;
    white-space: pre-wrap;
}
.rdprofiler-log-sections ul li .rdprofiler-log-newrow {
    display: table-row;
}
.rdprofiler-log-sections ul li .rdprofiler-log-newrow .rdprofiler-log-db-explain,
.rdprofiler-log-sections ul li .rdprofiler-log-newrow .rdprofiler-log-matchkey-name,
.rdprofiler-log-sections ul li .rdprofiler-log-newrow .rdprofiler-log-db-trace {
    color: #777;
    display: table-cell;
    padding: 5px 10px;
    width: 100%;
}
.rdprofiler-log-sections ul li .rdprofiler-log-fileline {
    width: 90px;
}
@media (min-width: 500px) {
    .rdprofiler-log-sections ul li .rdprofiler-log-fileline {
        width: 130px;
    }
}
@media (min-width: 700px) {
    .rdprofiler-log-sections ul li .rdprofiler-log-fileline {
        width: 170px;
    }
}
@media (min-width: 900px) {
    .rdprofiler-log-sections ul li .rdprofiler-log-fileline {
        width: 200px;
    }
}
.rdprofiler-log-sections ul li .rdprofiler-log-db-timetake,
.rdprofiler-log-sections ul li .rdprofiler-log-filesize,
.rdprofiler-log-sections ul li .rdprofiler-log-file-largestsize-value,
.rdprofiler-log-sections ul li .rdprofiler-log-memory,
.rdprofiler-log-sections ul li .rdprofiler-log-selfmemory,
.rdprofiler-log-sections ul li .rdprofiler-log-selftime,
.rdprofiler-log-sections ul li .rdprofiler-log-time,
.rdprofiler-log-sections ul li .rdprofiler-log-file-totalsize-value {
    width: 60px;
}
.rdprofiler-log-sections ul li .rdprofiler-log-phpextversion {
    width: 40%;
}

.rdprofiler-log-sections ul li .rdprofiler-log-inputs-value {
    width: 50%;
}

.rdprofiler-log-sections ul li .rdprofiler-log-logtype {
    width: 50px;
}
