

/* override body padding-bottom to have more space for profiler height */
body {
    padding-bottom: 32px;
}


.rdprofiler {
    background-color: #eee;
    background-image: none;
    border: none;
    border-top: 1px solid #bbb;
    border-image: none;
    box-shadow: 0 -1px rgba(255,255,255,0.2);
    bottom: 0;
    clear: both;
    color: #333;
    cursor: default;
    display: block;
    font-family: Verdana, Tahoma, sans-serif, system-ui;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 30px;
    left: 0;
    letter-spacing: normal;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    outline: none;
    padding: 0;
    position: fixed;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    transform: none;
    transition: none;
    visibility: visible;
    white-space: normal;
    width: 100%;
    word-break: break-word;
    word-spacing: normal;
    word-wrap: break-word;
    z-index: 100;
}
.rdprofiler a {
    color: inherit;
}
.rdprofiler a.rdprofiler-highlight {
    color: #896139;
    text-decoration: none;
}
.rdprofiler strong {
    font-weight: bold;
}


.rdprofiler-container {
    display: block;
    height: 100%;
    position: relative;
}


.rdprofiler-log-logtype.rdprofiler-logtype-debug {
    background-color: #CDE5CC;
}
.rdprofiler-log-logtype.rdprofiler-logtype-info {
    background-color: #D7E3EB;
}
.rdprofiler-log-logtype.rdprofiler-logtype-notice {
    background-color: #EAEBC5;
}
.rdprofiler-log-logtype.rdprofiler-logtype-warning {
    background-color: #EEDAA4;
}
.rdprofiler-log-logtype.rdprofiler-logtype-error {
    background-color: #E7A763;
}
.rdprofiler-log-logtype.rdprofiler-logtype-critical,
.rdprofiler-log-logtype.rdprofiler-logtype-alert,
.rdprofiler-log-logtype.rdprofiler-logtype-emergency {
    color: #eee;
}
.rdprofiler-log-logtype.rdprofiler-logtype-critical {
    background-color: #D93727;
}
.rdprofiler-log-logtype.rdprofiler-logtype-alert {
    background-color: #A80000;
}
.rdprofiler-log-logtype.rdprofiler-logtype-emergency {
    background-color: #440101;
}


.rdprofiler-log-logtypes {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.rdprofiler-log-logtypes td,
.rdprofiler-log-logtypes td.rdprofiler-log-logtype,
.rdprofiler-log-logtypes th {
    border: none;
    margin: 0;
    padding: 3px 5px;
    width: 12.5%;
}


ul.rdprofiler-log-sections,
.rdprofiler-log-sections {
    background: inherit;
    background-color: inherit;
    background-image: inherit;
    border: inherit;
    border-image: inherit;
    color: inherit;
    display: table;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-decoration: inherit;
    text-indent: inherit;
    text-transform: inherit;
    vertical-align: middle;
    white-space: inherit;
    word-break: inherit;
    word-spacing: inherit;
    word-wrap: inherit;
}
.rdprofiler-log-sections > li {
    border: none;
    border-right: 1px solid #ccc;
    display: table-cell;
    list-style: none;
    margin: 0;
    padding: 0 10px;
}
.rdprofiler-log-sections li.rdprofiler-see-details > a {
    cursor: pointer;
    display: block;
}
.rdprofiler-log-sections ul {
    background-color: #ddd;
    border: none;
    border-bottom: 1px solid #bbb;
    bottom: 30px;
    display: none;
    height: 330px;
    left: 10px;
    line-height: 16px;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: 10px;
    z-index: 100;
}
.rdprofiler-log-sections li.rdprofiler-see-details.active {
    background-color: #ddd;
}
.rdprofiler-log-sections li.rdprofiler-see-details.active ul {
    display: block;
}
.rdprofiler-log-sections ul li {
    border: none;
    border-bottom: 1px dotted #bbb;
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
.rdprofiler-log-sections ul li:first-child,
.rdprofiler-log-sections ul li:last-child {
    margin: 0;
}
.rdprofiler-log-sections ul li:hover {
    background-color: rgba(255,255,255,0.2);
}
.rdprofiler-log-sections ul li.rdprofiler-log-summary-row {
    font-weight: bold;
}
.rdprofiler-log-sections ul li > div,
.rdprofiler-log-sections ul li > pre {
    display: table-cell;
    margin: 0;
    padding: 5px 10px;
}

.rdprofiler-log-sections ul li .rdprofiler-log-data {
    background-color: transparent;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.rdprofiler-log-sections ul li .rdprofiler-log-newrow {
    display: table-row;
}
.rdprofiler-log-sections ul li .rdprofiler-log-newrow .rdprofiler-log-db-explain,
.rdprofiler-log-sections ul li .rdprofiler-log-newrow .rdprofiler-log-matchkey-name,
.rdprofiler-log-sections ul li .rdprofiler-log-newrow .rdprofiler-log-db-trace {
    color: #777;
    display: table-cell;
    margin: 0;
    padding: 5px 10px;
    width: 100%;
}
.rdprofiler-log-sections ul li .rdprofiler-log-fileline {
    width: 200px;
    word-break: break-all;
    word-wrap: break-word;
}
.rdprofiler-log-sections ul li .rdprofiler-log-db-timetake,
.rdprofiler-log-sections ul li .rdprofiler-log-filesize,
.rdprofiler-log-sections ul li .rdprofiler-log-file-largestsize-value,
.rdprofiler-log-sections ul li .rdprofiler-log-memory,
.rdprofiler-log-sections ul li .rdprofiler-log-selfmemory,
.rdprofiler-log-sections ul li .rdprofiler-log-selftime,
.rdprofiler-log-sections ul li .rdprofiler-log-time,
.rdprofiler-log-sections ul li .rdprofiler-log-file-totalsize-value {
    width: 60px;
}
.rdprofiler-log-sections ul li .rdprofiler-log-phpextversion {
    width: 40%;
    word-break: break-all;
    word-wrap: break-word;
}

.rdprofiler-log-sections ul li .rdprofiler-log-inputs-value {
    width: 50%;
}

.rdprofiler-log-sections ul li .rdprofiler-log-logtype {
    width: 50px;
}
