

/* override body padding-bottom to have more space for profiler height */
body.body-contain-rdprofiler {
    padding-bottom: 32px !important;
}


/* CSS variables */
.rdprofiler {
    --background-color-active: #ddd;
    --background-color-based: #eee;
    --background-color-logs-debug: #CDE5CC;
    --background-color-logs-info: #D7E3EB;
    --background-color-logs-notice: #EAEBC5;
    --background-color-logs-warning: #EEDAA4;
    --background-color-logs-error: #E7A763;
    --background-color-logs-critical: #D93727;
    --background-color-logs-alert: #A80000;
    --background-color-logs-emergency: #440101;
    --border-color: #bbb;
    --rdprofiler-box-height: 30px;
    --text-color: #333;
    --text-color-dark-background: #eee;
    --z-index: 10;
}


/* Reset CSS based on .rdprofiler */
.rdprofiler,
.rdprofiler * {
    background-color: transparent;
    background-image: none;
    border: none;
    border-image: none;
    border-radius: 0;
    box-sizing: content-box;
    color: var(--text-color);
    font-family: inherit;
    font-size: inherit;
    letter-spacing: initial;
    margin: 0;
    padding: 0;
    opacity: 1;
    outline: none;
    text-align: left;
    vertical-align: baseline;
    visibility: visible;
    word-break: break-all;
    word-wrap: break-word;
}
.rdprofiler a,
.rdprofiler a:link,
.rdprofiler a:active,
.rdprofiler a:focus,
.rdprofiler a:hover, 
.rdprofiler a:target,
.rdprofiler a:visited {
    color: inherit;
    text-decoration: none;
}
.rdprofiler b,
.rdprofiler strong {
    font-weight: bold;
}
.rdprofiler ins,
.rdprofiler u {
    text-decoration: underline;
}
.rdprofiler li:first-child,
.rdprofiler li:last-child {
    margin: 0;
    padding: 0;
}
.rdprofiler ol,
.rdprofiler ul {
    list-style: none;
}
.rdprofiler table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
/* END Reset CSS based on .rdprofiler */


.rdprofiler {
    background-color: var(--background-color-based);
    border-top: 1px solid var(--border-color);
    box-shadow: 0 -1px rgba(255,255,255,0.2);
    bottom: 0;
    clear: both;
    cursor: default;
    display: block;
    font-family: Verdana, Tahoma, sans-serif, system-ui;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: var(--rdprofiler-box-height);
    left: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    position: fixed;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    transform: none;
    transition: none;
    white-space: normal;
    width: 100%;
    word-spacing: normal;
    z-index: var(--z-index);
}
.rdprofiler a.rdprofiler-highlight {
    color: #896139;
    text-decoration: none;
}


.rdprofiler-container {
    display: block;
    height: 100%;
    position: relative;
}


/* Section Logs */
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-debug {
    background-color: var(--background-color-logs-debug);
}
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-info {
    background-color: var(--background-color-logs-info);
}
.rdprofiler-sections li.rdprofiler-section-logs-atleast-notice,/* For section tabs */
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-notice {
    background-color: var(--background-color-logs-notice);
}
.rdprofiler-sections li.rdprofiler-section-logs-atleast-notice.rdprofiler-section-active {
    /* For section tabs */
    background-color: hsl(from var(--background-color-logs-notice) h s calc(l - 10));
}

.rdprofiler-sections li.rdprofiler-section-logs-atleast-warning,/* For section tabs */
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-warning {
    background-color: var(--background-color-logs-warning);
}
.rdprofiler-sections li.rdprofiler-section-logs-atleast-warning.rdprofiler-section-active {
    /* For section tabs */
    background-color: hsl(from var(--background-color-logs-warning) h s calc(l - 10));
}

.rdprofiler-sections li.rdprofiler-section-logs-atleast-error,/* For section tabs */
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-error {
    background-color: var(--background-color-logs-error);
}
.rdprofiler-sections li.rdprofiler-section-logs-atleast-error.rdprofiler-section-active {
    /* For section tabs */
    background-color: hsl(from var(--background-color-logs-error) h s calc(l - 10));
}

.rdprofiler-sections li.rdprofiler-section-logs-atleast-critical,/* For section tabs */
.rdprofiler-sections li.rdprofiler-section-logs-atleast-alert,/* For section tabs */
.rdprofiler-sections li.rdprofiler-section-logs-atleast-emergency,/* For section tabs */
.rdprofiler-sections li.rdprofiler-section-logs-atleast-critical > a > *,/* For section tabs */
.rdprofiler-sections li.rdprofiler-section-logs-atleast-alert > a > *,/* For section tabs */
.rdprofiler-sections li.rdprofiler-section-logs-atleast-emergency > a > *,/* For section tabs */
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-critical,
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-alert,
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-emergency {
    color: var(--text-color-dark-background);
}

.rdprofiler-sections li.rdprofiler-section-logs-atleast-critical,/* For section tabs */
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-critical {
    background-color: var(--background-color-logs-critical);
}
.rdprofiler-sections li.rdprofiler-section-logs-atleast-critical.rdprofiler-section-active {
    /* For section tabs */
    background-color: hsl(from var(--background-color-logs-critical) h s calc(l - 10));
}

.rdprofiler-sections li.rdprofiler-section-logs-atleast-alert,/* For section tabs */
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-alert {
    background-color: var(--background-color-logs-alert);
}
.rdprofiler-sections li.rdprofiler-section-logs-atleast-alert.rdprofiler-section-active {
    /* For section tabs */
    background-color: hsl(from var(--background-color-logs-alert) h s calc(l - 10));
}

.rdprofiler-sections li.rdprofiler-section-logs-atleast-emergency,/* For section tabs */
.rdprofiler-section-logs-details-logtype.rdprofiler-logtype-emergency {
    background-color: var(--background-color-logs-emergency);
}
.rdprofiler-sections li.rdprofiler-section-logs-atleast-emergency.rdprofiler-section-active {
    /* For section tabs */
    background-color: hsl(from var(--background-color-logs-emergency) h s calc(l - 10));
}


.rdprofiler-section-logs-details-logtypes td,
.rdprofiler-section-logs-details-logtypes td.rdprofiler-section-logs-details-logtype,
.rdprofiler-section-logs-details-logtypes th {
    font-weight: inherit;
    line-height: inherit;
    padding: 3px 5px;
    width: 12.5%;
}
/* End section Logs */


/* Sections tabs */
ul.rdprofiler-sections,
.rdprofiler-sections {
    display: table;
    line-height: var(--rdprofiler-box-height);
    vertical-align: middle;
}
.rdprofiler-sections > li,
.rdprofiler-sections > li:first-child, 
.rdprofiler-sections > li:last-child {
    border-right: 1px solid var(--border-color);
    display: table-cell;
    padding: 0 10px;
}
.rdprofiler-sections li.rdprofiler-section-tab > a {
    cursor: pointer;
    display: block;
}
/* End sections tabs */


.rdprofiler-sections ul {
    background-color: var(--background-color-active);
    border-bottom: 1px solid var(--border-color);
    bottom: var(--rdprofiler-box-height);
    display: none;
    height: 90vh;
    left: 10px;
    line-height: 16px;
    overflow: auto;
    position: absolute;
    right: 10px;
    z-index: var(--z-index);
}
.rdprofiler-sections li.rdprofiler-section-active {
    background-color: var(--background-color-active);
}
.rdprofiler-sections li.rdprofiler-section-active ul {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    display: block;
}


/* Re-format data details display as table */
.rdprofiler-sections ul li {
    border-bottom: 1px dotted var(--border-color);
    display: table;
    table-layout: fixed;
    width: 100%;
}
.rdprofiler-sections ul li > div,
.rdprofiler-sections ul li > pre {
    display: table-cell;
    padding: 5px 10px;
}
.rdprofiler-sections ul li .rdprofiler-log-newrow {
    /* @deprecated keep for supported old version usage */
    outline: rgba(255, 0, 0, 0.1) dashed 2px;
}
.rdprofiler-sections ul li .rdprofiler-log-newrow,/* @deprecated keep for supported old version usage */
.rdprofiler-sections ul li .rdprofiler-data-display-row {
    display: table-row;
}
.rdprofiler-sections ul li .rdprofiler-log-newrow .rdprofiler-log-db-explain,/* @deprecated keep for supported old version usage */
.rdprofiler-sections ul li .rdprofiler-log-newrow .rdprofiler-log-matchkey-name,/* @deprecated keep for supported old version usage */
.rdprofiler-sections ul li .rdprofiler-log-newrow .rdprofiler-log-db-trace,/* @deprecated keep for supported old version usage */
.rdprofiler-sections ul li .rdprofiler-data-display-row .rdprofiler-log-db-explain,
.rdprofiler-sections ul li .rdprofiler-data-display-row .rdprofiler-log-matchkey-name,
.rdprofiler-sections ul li .rdprofiler-data-display-row .rdprofiler-log-db-trace {
    color: #777;
    display: table-cell;
    padding: 5px 10px;
    width: 100%;
}
/* End re-format data details display as table */


/* Data details of table's column width */
.rdprofiler-sections ul li .rdprofiler-log-fileline {
    width: 90px;
}
@media (min-width: 500px) {
    .rdprofiler-sections ul li .rdprofiler-log-fileline {
        width: 130px;
    }
}
@media (min-width: 700px) {
    .rdprofiler-sections ul li .rdprofiler-log-fileline {
        width: 170px;
    }
}
@media (min-width: 900px) {
    .rdprofiler-sections ul li .rdprofiler-log-fileline {
        width: 200px;
    }
}
.rdprofiler-sections ul li .rdprofiler-log-db-timetake,
.rdprofiler-sections ul li .rdprofiler-log-filesize,
.rdprofiler-sections ul li .rdprofiler-log-file-largestsize-value,
.rdprofiler-sections ul li .rdprofiler-log-memory,
.rdprofiler-sections ul li .rdprofiler-log-selfmemory,
.rdprofiler-sections ul li .rdprofiler-log-selftime,
.rdprofiler-sections ul li .rdprofiler-log-time,
.rdprofiler-sections ul li .rdprofiler-log-file-totalsize-value {
    width: 60px;
}
.rdprofiler-sections ul li .rdprofiler-log-phpextversion {
    width: 40%;
}

.rdprofiler-sections ul li .rdprofiler-log-inputs-value {
    width: 50%;
}

.rdprofiler-sections ul li .rdprofiler-section-logs-details-logtype {
    width: 50px;
}
/* End data details of table's column width */


.rdprofiler-sections ul li:hover {
    background-color: rgba(255,255,255,0.2);
}
.rdprofiler-sections ul li.rdprofiler-data-new-xhr-session {
    border-top: 2px dotted var(--border-color);
    font-weight: bold;
}
.rdprofiler-sections ul li.rdprofiler-section-details-heading-row {
    font-weight: bold;
}

.rdprofiler-sections ul li .rdprofiler-data-message {
    line-height: inherit;
    white-space: pre-wrap;
}
